body {
    max-width: 90vw;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    padding-block: 18px;
    padding-inline-start: 12px;
    margin-block-start: 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
}

input::placeholder {
    color: rgba(130, 130, 130, 1);
    font-weight: 500;
    font-size: 14px;
}

.bttn--default:hover {
    border: 1px solid black;
}

.bttn--default:focus {
    border: 1px solid blue;
}

.bttn--error {
    border: 1px solid rgba(211, 47, 47, 1);
}

.bttn--error:hover {
    border: 1px solid black;
}

.bttn--error:focus {
    border: 1px solid rgba(211, 47, 47, 1);
}

.disabled {
    background-color: rgba(242, 242, 242, 1);
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid rgba(224, 224, 224, 1);
}

.bttn--helperText {

}

.bttn--startIcon {
    max-width: 120px;
    background-image: url('../icons/call-24px.svg');
    background-position: 10% 50%;
    background-repeat: no-repeat;
    padding-inline-start: 64px;
    padding-inline-end: -64px;
}

.bttn--endIcon {
    background-image: url("../icons/lock-24px.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.bttn .bttn--text {
    border: rgba(130, 130, 130, 1);
}

.bttn--text::placeholder {
    color: black;
}

.bttn .bttn--text:hover,
.bttn .bttn--text:focus {
    border: rgba(130, 130, 130, 1);
}



.bttn--sm {
    padding-block: 10px;
}

.bttn--fullWidth {
    width: 100%;
}

.bttn--fullWidth::placeholder {
    color: black;
}

.bttn--4 {
    padding-block-end: 173px;
}

