@font-face {
    font-family: 'Noto Sans JP';
    src: local('NotoSansJP-Regular-Alphabetic'),
        local('NotoSansJP-Regular-Alphabetic');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Regular'),
        local('Poppins-Regular');
    font-weight: 600;
}

body {
    font-family: 'Noto Sans JP';
    max-width: 70vw;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: aliceblue;
}

h1 {
    font-family: 'Poppins';
    text-transform: uppercase;
    text-shadow: 2px 2px 2px deeppink;
}

input,
textarea {
    padding-block: 18px;
    padding-inline-start: 12px;
    margin-block-start: 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    margin-block-end: 16px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(130, 130, 130, 1);
    font-weight: 500;
    font-size: 14px;
}

label p {
    margin-block-end: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label1:focus-within p {
    color: blue;
}

.bttn--default:hover {
    border: 1px solid black;
}

.bttn--default:focus-within .label {
    color: blue !important;
}

.bttn--default:focus {
    border: 1px solid blue;
}

.bttn--error {
    border: 1px solid rgba(211, 47, 47, 1);
}

.label2 p {
    color: rgba(211, 47, 47, 1);
}

.bttn--error:hover {
    border: 1px solid black;
}

.bttn--error:hover {
    border: 1px solid black;
}

.label2:hover p {
    color: black;
}

.label2:focus-within p {
    color: rgba(211, 47, 47, 1);
}

.bttn--error:focus {
    border: 1px solid rgba(211, 47, 47, 1);
}

.disabled {
    background-color: rgba(242, 242, 242, 1);
    cursor: not-allowed;
    pointer-events: none;
}

.label3 input {
    border: 1px solid rgba(224, 224, 224, 1);
}

.label4 + p {
    color: rgba(130, 130, 130, 1);
}

.label5 > p,
.label5 + p {
    color: rgba(211, 47, 47, 1);
}

.label5 input:hover {
    border: 1px solid rgba(211, 47, 47, 1);
}

.bttn--startIcon {
    max-width: 120px;
    background-image: url('../icons/call-24px.svg');
    background-position: 10% 50%;
    background-repeat: no-repeat;
    padding-inline-start: 64px;
    padding-inline-end: -64px;
}

.bttn--endIcon {
    background-image: url("../icons/lock-24px.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.bttn .bttn--text {
    border: rgba(130, 130, 130, 1);
}

.bttn--text::placeholder {
    color: black;
}

.bttn .bttn--text:hover,
.bttn .bttn--text:focus {
    border: rgba(130, 130, 130, 1);
}



.bttn--sm {
    padding-block: 10px;
}

.bttn--fullWidth {
    width: 100%;
}

.bttn--fullWidth::placeholder {
    color: black;
}